@model User
<div>
    <h4>@ViewBag.id</h4>
    <hr />
    @using ( Html.BeginForm("Login" , "Home" , FormMethod.Post) )
    {
        
        <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.username)
                <dd class = "col-sm-10">
                    @Html.EditorFor(model => model.username)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.password)
                </dt>
   
                <dt class = "col-sm-2">
                    @Html.EditorFor(model => model.password)
                </dt>
        
            </dl>
            <div>
        <input type="submit" value="Submit" />

    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

    }
</div>
