@model Commerce_TransactionApp.Models.Transaction


<div>

    <h4>Transaction</h4>
    <hr />
      @using ( Html.BeginForm("Summary" , "Home" , FormMethod.Post) )
    {
        <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.transactionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.transactionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.transactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.transactionLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.transactionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.processingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.processingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.accountBalance)
        </dd>
    </dl>

<div>
    <input type="submit" value="Submit" />
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

    }
    