@model SelectedNotifications
@using ( Html.BeginForm("Notifications" , "Transactions" , FormMethod.Post) )
{
<div>
    
    <a class="btn btn-primary"  data-toggle="collapse" href="#shownotificationform">
        Change notification settings </a>
        <div class = "collapse container" data-toggle="collapse" id="shownotificationform">
         <dl class="row">
           
              
    
             
      <dt class="col-lg-12 input-group-prepend">

     @Html.DisplayNameFor(model => model.lowBalance) @Html.CheckBoxFor(model => model.lowBalance)
     <span class="input-group-text">$</span>
     @Html.EditorFor(model =>model.lowBalanceLimit, new {htmlAttributes= new{@class="form-control",@placeholder="Get alerts when balance is under this amount:",@type="text"}});
  </dt>
  <div class="input-group-prepend">
     @Html.DisplayNameFor(model => model.largeWithdraw) @Html.CheckBoxFor(model => model.largeWithdraw)
     <span class="input-group-text">$</span>
     @Html.EditorFor(model =>model.largeWithdrawLimit, new {htmlAttributes= new{@class="form-control",@placeholder="Get alerts for withdraws over this amount:",@type="text"}});
  </div>
              <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.outOfState)
            @Html.CheckBoxFor(model => model.outOfState)
        </dt>
       
         
        
        
            <input type="submit" value="Submit" />

        </div>
  </div>
  }