@model SelectedNotifications
@using (Html.BeginForm("Notifications", "Transactions", FormMethod.Post))
{
    <div>

        <a class="btn btn-primary" data-toggle="collapse" href="#shownotificationform" style="margin-block: 10px; background-color: #007AA3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
            Change notification settings
        </a>
        <div class="collapse container" data-toggle="collapse" id="shownotificationform">
            <dl class="row">




                <dt class="col-md-9 col-lg-6 col-xl-5 input-group-prepend" style="margin-block: 10px;">

                    @Html.DisplayNameFor(model => model.lowBalance) @Html.CheckBoxFor(model => model.lowBalance, new { style = "margin-left: 15px" })
                    <span class="input-group-text" style="color: white; background-color: #4FA800">$</span>
                    @Html.EditorFor(model => model.lowBalanceLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Get alerts when balance is under this amount:", @type = "text" } });
                </dt>
                    <dt class="col-md-9 col-lg-6 col-xl-5 input-group-prepend" style="margin-block: 10px" ;>
                        @Html.DisplayNameFor(model => model.largeWithdraw) @Html.CheckBoxFor(model => model.largeWithdraw)
                        <span class="input-group-text" style="color: white; background-color: #4FA800">$</span>
                        @Html.EditorFor(model => model.largeWithdrawLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Get alerts for withdraws over this amount:", @type = "text" } });
                    </dt>
                        <dt class="col-sm-2" style="margin-block: 10px;">
                            @Html.DisplayNameFor(model => model.outOfState)
                            @Html.CheckBoxFor(model => model.outOfState)
                        </dt>



                        <dt class="col-md-9 col-lg-6 col-xl-5">
                            <input type="submit" style="color:white; margin-block: 15px; background-color: #007AA3" value="Submit" />
                        </dt>


</div>
    </div>
}