@model Commerce_TransactionApp.Models.Transaction
@using System.Text.RegularExpressions;


<div>

    <a class="btn btn-primary"  data-toggle="collapse" href="#showtransactionform" style="margin-block: 10px; background-color: #007AA3"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
        </svg>
        Add New Transaction</a>
    <hr />
    <div class = "collapse" data-toggle="collapse" id="showtransactionform">
      @using ( Html.BeginForm("Summary" , "Transactions" , FormMethod.Post) )
    {
        <dl class="row">
         
        <dt class = "col-sm-5">
           Transaction Amount
        </dt>
        <dd class = "col-sm-5">
            @Html.EditorFor(model => model.transactionAmount)
        </dd>
        <dt class = "col-sm-5">
           Deposit?
        </dt>
        <dd class = "col-sm-5">
            @Html.EditorFor(model => model.isDeposit)

            
@*div class="form-check">
  <input class="form-check-input" type="radio" name="transactionType" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Deposit
  </label>
</div>
<input class="form-check-input" type="radio" name="transactionType" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Withdraw
  </label>*@

        </dd>
        <dt class = "col-sm-5">
            Transaction Location
        </dt>
        <dd class = "col-sm-5">
            @Html.EditorFor(model => model.transactionLocation)
        </dd>
        <dt class = "col-sm-5">
           Transaction Description
        </dt>
        <dd class = "col-sm-5">
            @Html.EditorFor(model => model.transactionDescription)
        </dd>
        <dt class = "col-sm-5">
            Processing Date
        </dt>
        <dd class = "col-sm-5">
            @Html.EditorFor(model => model.processingDate)
        </dd>
        
    </dl>

<div>
    <input type="submit" style="color:white; background-color: #007AA3; margin-block: 10px;" value="Submit" />
    <a asp-action="Index">Back to List</a>
</div>

    }
    </div>
    </div>